@model DrinkDiscovery_Admin_Revised.Models.Urunlers
@using DrinkDiscovery_Admin_Revised.Models


@{
    ViewData["Title"] = "UrunDuzenle";
}

<h1>Icecek Duzenle</h1>
@using (Html.BeginForm("UrunDuzenle", "Urunler", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table table-active">
        <tr>
            <td>
                <label for="urun_id" class="form-label">Ürün ID</label>
                @Html.TextBoxFor(item => item.urun_id, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                <label for="urun_ad" class="form-label">Ürün Ad</label>
                @Html.TextBoxFor(item => item.urun_ad, new { @class = "form-control" })
                <br />
            </td>
        </tr>
        <tr>
            <td>

                <div class="mb-3">
                    <label for="urun_malzemeler" class="form-label">Ürün Malzemeler</label>
                    @Html.TextAreaFor(x => x.urun_malzemeler, new { @class = "form-control", style = "width: 600px;height: 200px;", rows = "5" })
                </div>
            </td>
            <td>
                <div class="mb-3">
                    <label for="urun_icerik" class="form-label">Ürün İçerik</label>
                    @Html.TextAreaFor(x => x.urun_icerik, new { @class = "form-control", style = "width: 600px;height: 200px;", rows = "5" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="urun_resim" class="form-label">Ürün Resim</label>
                <img id="selectedImage" src="@Url.Action("GetImage", "Urunler", new { id = Model.urun_id })" style="width:100px;height:100px;" />
                <br />
                <div class="mb-3">
                    <label for="urun_resim" class="form-label">Ürün Resmi</label>
                    <input type="file" class="form-control" id="urun_resim" name="urun_resim" style="width: 400px;" accept="image/*">
                </div>
                <br />
            </td>
            <td>
                <div class="mb-3">
                    <label for="urun_puan" class="form-label">Ürün Puanı</label>
                    @Html.TextBoxFor(x => x.urun_puan, new { @class = "form-control" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3">
                    <label for="urun_fiyat" class="form-label">Ürün Fiyatı</label>
                    @Html.TextBoxFor(x => x.urun_fiyat, new { @class = "form-control" })
                </div>
                <br />
            </td>
            <td>
                <div class="form-group">
                    <label for="urun_kategori_id" class="control-label">Kategori</label>
                    @Html.DropDownListFor(i => i.urun_kategori.urun_kategori_id, new SelectList((IEnumerable<SelectListItem>)ViewBag.dgr, "Value", "Text", ViewBag.selectedcategory), new { @class = "form-control" })
                </div>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary">Ürün Güncelle</button>
            </td>
            <td>
            </td>
        </tr>
    </table>

    <br />












}

<script>
    document.getElementById('urun_resim').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const image = document.getElementById('selectedImage');
                image.src = e.target.result;
                image.style.display = 'block';
                image.style.width = '100px';
                image.style.height = '100px';
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>


