@model IEnumerable<DrinkDiscovery_Admin.Models.Iceceklers>
@{
    ViewData["Title"] = "IcecekGoruntule";
}

<h1>IcecekGoruntule</h1>

<table class="table">
    <thead>
        <tr>
            <th>İçecek Adı</th>
            <th>İçecek Resmi</th>
            <th>İçecek İçerik</th>
            <th>İçecek Malzemeler</th>
            <th>İçecek Puanı</th>
            <th>İçecek Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Çay</td>
            <td>
                <img src="https://www.istockphoto.com/photo/tea-cup-and-teapot-on-wooden-table-gm1130000007-298366366" alt="Çay" style="max-width: 100px; max-height: 100px;">
                </td>
            <td>Çay</td>
            <td>Çay</td>
            <td>Çay</td>
            <td>Çay</td>
        </tr>

        @foreach(var icecek in Model)
        {
            <tr>
                <td>@icecek.icecek_ad</td>
                <td>
                    @* <img src="@icecek.icecek_resim" alt="@icecek.icecek_resim" style="max-width: 100px; max-height: 100px;"> *@
                </td>
                <td>@icecek.icecek_icerik</td>
                <td>@icecek.icecek_malzemeler</td>
                <td>@icecek.icecek_puan</td>
                <td>@icecek.icecek_fiyat</td>
            </tr>
        })
    </tbody>
</table>

