@model DrinkDiscovery_Admin.Models.Iceceklers
@using DrinkDiscovery_Admin.Models

@{
    ViewData["Title"] = "IcecekEkle";
}

<h1>İçecek Ekle</h1>

<form asp-action="IcecekEkle" class="form-group" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="icecek_ad" class="form-label">İçecek Adı</label>
        @Html.TextBoxFor(x => x.icecek_ad, new { @class = "form-control", @id = "icecek_ad" })
    </div>
    <div class="mb-3">
        <label for="icecek_resmi" class="form-label">İçecek Resmi</label>
        <input type="file" class="form-control" id="icecek_resmi" name="icecek_resmi" style="width: 400px;" accept="image/*">
    </div>
    <br />
    <div class="mt-3">
        <img id="selectedImage" src="#" alt="Seçilen Resim" style="display: none; max-width: 300px; max-height: 300px;">
    </div>
    <br />
    <div class="mb-3">
        <label for="icecek_icerik" class="form-label">İçecek İçerik</label>
        @Html.TextBoxFor(x => x.icecek_icerik, new { @class = "form-control", @id = "icecek_icerik" })
    </div>

    <div class="mb-3">
        <label for="icecek_malzemeler" class="form-label">İçecek Malzemeler</label>
        @Html.TextBoxFor(x => x.icecek_malzemeler, new { @class = "form-control", @id = "icecek_malzemeler" })
    </div>

    <div class="mb-3">
        <label for="icecek_puan" class="form-label">İçecek Puanı</label>
        @Html.TextBoxFor(x => x.icecek_puan, new { @class = "form-control", @id = "icecek_puan" })
    </div>

    <div class="mb-3">
        <label for="icecek_fiyat" class="form-label">İçecek Fiyatı</label>
        @Html.TextBoxFor(x => x.icecek_fiyat, new { @class = "form-control", @id = "icecek_fiyat" })
    </div>

    @* burada kaldık *@
    @* (List<SelectListItem>) *@
    <div class="form-group">
        <label for="icecek_kategori_id" class="control-label">Kategori</label>
        @Html.DropDownListFor(x => x.icecek_kategori.icecek_kategori_id, (List<SelectListItem>)ViewBag.dgr, "Select Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.icecek_kategori.icecek_kategori_id, "", new { @class = "text-danger" })
    </div>
    <br />
    <button class="btn btn-info">İçecek Ekle</button>
</form>

<script>
    document.getElementById('icecek_resmi').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const image = document.getElementById('selectedImage');
                image.src = e.target.result;
                image.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>
