@* @model DrinkDiscovery_Revised.Models.HomeViewModel *@
@{
    ViewData["Title"] = "UrunDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectedProduct = (DrinkDiscovery_Revised.Models.Urunler)ViewBag.selectedProduct;
    var selectedProductCategory = (DrinkDiscovery_Revised.Models.UrunKategoriler)ViewBag.selectedProductCategory;
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h1>Ürün Detay</h1>



<table class="table table-borderless">
    <tr>
        <td>
            <img id="selectedImage" src="@Url.Action("GetImage", "Urun", new { id = selectedProduct.UrunId })" style="width:800px;height:400px;" alt="Ürün Resmi" />
        </td>
    </tr>
    <tr>
        <td>
            <h2>@selectedProduct.UrunAd</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="background-color:bisque;width:10%;"> @selectedProduct.UrunFiyat TL </h2>
        </td>
    </tr>
    <tr style="font-size:20px;">
        <td>
            <p> <b>Malzemeler: </b> @selectedProduct.UrunMalzemeler</p>
        </td>
    </tr>
    <tr style="font-size:20px;">
        <td>
            <p> <b>İçerik: </b> @selectedProduct.UrunIcerik</p>
        </td>
    </tr>
    <tr style="font-size:20px;">
        <td>
            <p> <b>Puan: </b> @selectedProduct.UrunPuan</p>
        </td>
    </tr>
    <tr style="font-size:20px;">
        <td>
            <p> <b>Kategori: </b> @selectedProductCategory.UrunKategoriAd</p>
        </td>
    </tr>
    
    
</table>

<a class="btn btn-danger mt-auto" asp-area="" asp-controller="ProductCard" asp-action="CreateCard" asp-route-urunId="@selectedProduct.UrunId">Sepete Ekle</a>

<h2>Yorumlar</h2>

@await Html.PartialAsync("UrunYorumlariGoruntule")

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("UrunYorumEkle")
}
else
{

}

