@using DrinkDiscovery_Admin_Revised.Models
@model IEnumerable<DrinkDiscovery_Admin_Revised.Models.Iceceklers>
@{
    ViewData["Title"] = "HaftaninIcecekleriListele";
}

<h1>Haftanin Iceceklerini Belirle</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<style>
    .selected {
        background-color: #99ff99;
    }
</style>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>İçecek Adı</th>
            <th>İçecek Kategorisi</th>
            <th>İçecek Resmi</th>
            <th>İçecek Puanı</th>
            <th>İçecek Fiyatı</th>
            <th>Haftanın İçeceği Yap</th>
            <th>Haftanın İçeceği Kaldır</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr class="@((bool)item.haftanin_icecegi ? "selected" : "")">
                <td>@item.icecek_ad</td>
                <td>@item.icecek_kategori.icecek_kategori_ad</td>
                <td>
                    <img src="@Url.Action("GetImage", "Icecek", new { id = item.icecek_id })" style="width:100px;height:100px;" />
                </td>
                <td>@item.icecek_puan</td>
                <td>@item.icecek_fiyat</td>
                <td>
                    <a href="@Url.Action("HaftaninIcecekleriBelirle", "Icecek", new { id = item.icecek_id })" class="btn btn-light">
                        <img src="~/images/checkedicon.png" alt="Haftanın İçeceği Yap" style="width:30px;height:30px;">
                        
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("HaftaninIcecekleriKaldir", "Icecek", new { id = item.icecek_id })" class="btn btn-light">
                        <img src="~/images/cancel.png" style="width:30px;height:30px;">
                        
                    </a>
                </td>

            </tr>

        }
</table>

<!-- JavaScript -->
<script src="~/js/site.js"></script>

<script type="text/javascript">
    
    function confirmDeletion(url) {
        if (confirm("Gerçekten silmek istiyor musunuz?")) {
            window.location.href = url;
        }
    }
</script>

