@using DrinkDiscovery_Admin_Revised.Models
@model IEnumerable<DrinkDiscovery_Admin_Revised.Models.Iceceklers> 

@{
    ViewData["Title"] = "IcecekListele";
}

<h1>IcecekListele</h1>

<form class="d-flex" action="@Url.Action("Search", "Icecek")" method="get" style="width: 100%; justify-content: flex-end;">
    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" style="max-width: 300px;">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>İçecek ID</th>
            <th>İçecek Adı</th>
            <th>İçecek Kategori ID</th>
            <th>İçecek Kategori Adi</th>
            <th>İçecek Resmi</th>
            <th>İçecek İçerik</th>
            <th>İçecek Malzemeler</th>
            <th>İçecek Puanı</th>
            <th>İçecek Fiyatı</th>
            <th>İçecek Sil</th>
            <th>İçecek Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.icecek_id</td>
                <td>@item.icecek_ad</td>
                <td>@item.icecek_kategori.icecek_kategori_id</td>
                <td>@item.icecek_kategori.icecek_kategori_ad</td>
                <td>
                    <img src="@Url.Action("GetImage", "Icecek", new { id = item.icecek_id })" style="width:100px;height:100px;" />
                </td>
                <td>@item.icecek_yapilis</td>
                <td>@item.icecek_malzemeler</td>
                <td>@item.icecek_puan</td>
                <td>@item.icecek_fiyat</td>
                <td>
                    <a href="@Url.Action("IcecekSil", "Icecek", new { id = item.icecek_id })" class="btn btn-danger" onclick="confirmDeletion('@Url.Action("Delete", "Icecek", new { id = item.icecek_id })')">Sil</a>
                </td>
                <td>
                    <a href="@Url.Action("IcecekDuzenle", "Icecek", new { id = item.icecek_id })" class="btn btn-primary">Düzenle</a>
                </td>
            </tr>
        }
</table>



<!-- JavaScript -->
<script src="~/js/site.js"></script>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function confirmDeletion(url) {
        if (confirm("Gerçekten silmek istiyor musunuz?")) {
            window.location.href = url;
        }
    }
</script>
