@model List<DrinkDiscovery_Revised.Models.UrunKategoriler>
@{
    ViewData["Title"] = "IndexUrunler";
    var urunler = ViewBag.Urunler as List<DrinkDiscovery_Revised.Models.Urunler> ?? new List<DrinkDiscovery_Revised.Models.Urunler>();
}

<div class="btn-group" role="group">
    @foreach (var urun in Model)
    {
        <a class="btn btn-outline-secondary"
           asp-area=""
           asp-controller="Home"
           asp-action="IndexUrunler"
           asp-route-kategoriId="@urun.UrunKategoriId">
            @urun.UrunKategoriAd
        </a>
    }
</div>

<br />
<br />

<div class="container mt-2">
    <div class="row">
        @foreach (var urun in urunler)
        {

            <div class="col-md-3 col-sm-5">

                <div class="card card-block" style="text-align:center;justify-content:center;" onclick="location.href='@Url.Action("UrunDetay", "Urun", new { id = urun.UrunId })'" style="cursor:pointer;">
                    @* <img src="@Url.Action("GetImage", "Icecek", new { id = item.icecek_id })" style="width:100px;height:100px;" /> *@
                    <img src="@Url.Action("GetImage", "Urun", new { id = urun.UrunId })">
                    <div class="card-body" style="display:flex;flex-direction:column;">
                        <h5 class="card-title mt-3 mb-3">@urun.UrunAd</h5>
                        @* <p class="card-text">Açıklama</p> *@
                        <p> @urun.UrunFiyat TL </p>
                        <a asp-area="" class="btn btn-primary">Sepete Ekle</a> 

                    </div>
                </div>
            </div>

        }


    </div>
</div>




