@model DrinkDiscovery_Admin_Revised.Models.Tatlilars
@using DrinkDiscovery_Admin_Revised.Models
@{
    ViewData["Title"] = "TatliDuzenle";
}

<h1>Tatli Duzenle</h1>

@using (Html.BeginForm("TatliDuzenle", "Tatlilar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table table-active">
        <tr>
            <td>
                <label for="tatli_id" class="form-label">Tatlı ID</label>
                @Html.TextBoxFor(item => item.tatli_id, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                <div class="mb-3">
                    <label for="tatli_ad" class="form-label">Tatli Adı</label>
                    @Html.TextBoxFor(x => x.tatli_ad, new { @class = "form-control", @id = "tatli_ad", style = "width: 350px;" })
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <label for="tatli_resim" class="form-label">Tatlı Resim</label>
                <img id="selectedImage" src="@Url.Action("GetImage", "Tatlilar", new { id = Model.tatli_id })" style="width:100px;height:100px;" />
                <br />
                <div class="mb-3">
                    <label for="tatli_resmi" class="form-label">Tatli Resmi</label>
                    <input type="file" class="form-control" id="tatli_resmi" name="tatli_resmi" style="width: 350px;" accept="image/*">
                </div>
                <br />
                <div class="mt-3">
                    <img id="selectedImage" src="#" alt="Seçilen Resim" style="display: none; max-width: 350px; max-height: 300px;">
                </div>
            </td>
            <td>
                <div class="mb-3">
                    <label for="tatli_aciklama" class="form-label">Tatlı İçerik</label>
                    @Html.TextAreaFor(x => x.tatli_aciklama, new { @class = "form-control", @id = "tatli_aciklama", style = "width: 600px;height: 200px;", rows = "5" })
                </div>
            </td>
            

        </tr>
        <tr>
            
            <td>
                <div class="mb-3">
                    <label for="tatli_malzemeler" class="form-label">Tatlı Malzemeler</label>
                    @Html.TextAreaFor(x => x.tatli_malzemeler, new { @class = "form-control", @id = "tatli_malzemeler", style = "width: 600px;height: 200px;", rows = "5" })
                </div>
            </td>
            <td>
                <div class="mb-3">
                    <label for="tatli_yapilis" class="form-label">Tatlı Yapılış</label>
                    @Html.TextAreaFor(x => x.tatli_yapilis, new { @class = "form-control", @id = "tatli_yapilis", style = "width: 600px;height: 200px;", rows = "5" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3">
                    <label for="tatli_puan" class="form-label">Tatlı Puanı</label>
                    @Html.TextBoxFor(x => x.tatli_puan, new { @class = "form-control", @id = "tatli_puan", style = "width: 350px;" })
                </div>
            </td>
            <td>
                <div class="mb-3">
                    <label for="tatli_fiyat" class="form-label">Tatlı Fiyatı</label>
                    @Html.TextBoxFor(x => x.tatli_fiyat, new { @class = "form-control", @id = "tatli_fiyat", style = "width: 350px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label for="tatli_kategori_id" class="control-label">Kategori</label>
                    @Html.DropDownListFor(i => i.tatli_kategori.tatli_kategori_id, (IEnumerable<SelectListItem>)ViewBag.dgr, new { @class = "form-control", style = "width: 350px;" })
                </div>
            </td>
            <td>
                <button class="btn btn-info" style="width: 350px;">Tatlı Ekle</button>
            </td>
        </tr>


    </table>

    <br />
    











}

<script>
    document.getElementById('tatli_resmi').addEventListener('change', function (event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const image = document.getElementById('selectedImage');
                image.src = e.target.result;
                image.style.display = 'block';
                image.style.width = '100px';
                image.style.height = '100px';
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>




